extends layout

block content
  h1= title

  if author_list.length
    ul
      each author in author_list
        li
          a(href=author.url) #{author.name}
          |  (#{author.date_naissance_formatted} - #{author.mort_formatted})
  else
    p There are no authors.
